* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* h1 {
  color: blanchedalmond;
} */

.main-header {
  background-color: black;
  padding: 20px 30px;
  width: 100%;
  /* position: fixed; */
}
.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

/* .brand {
  display: inline-block;
  color: white;
} */
.main-header__brand {
  color: #ffac41;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}
.main-nav {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 109px);
}
/* main-nav__items {
  display: inline-block;
} */
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  /* color: #ff1e56; */
  display: inline-block;
}
.main-nav__item a {
  text-decoration: none;
  color: #ffac41;
  margin: 0 20px;
  font-weight: bold;
  padding: 3px 0;
}
.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 2px solid #ff1e56;
}

.main-nav__item--cta a {
  color: black;
  background: #ffac41;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ffac41;
  background-color: white;
  border: none;
}
.first-section {
  background-color: black;
  width: 100%;
  height: 600px;
  position: relative;
}
.title-heading {
  color: #ffac41;
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 40px;
}
.first-section-heading-div {
  position: absolute;
  top: 45%;
  left: 5%;
  text-align: center;
}
.aProgrammer {
  color: #ffac41;
  /* text-align: center; */
  margin-top: 5px;
  /* margin: 0 0 0 222px; */
  font-size: 38px;
  font-weight: thin;
}
.aProgrammer .span {
  text-decoration: underline #ffac41;
  text-decoration-thickness: 1px;
}
.images-div {
  position: absolute;
  top: 62%;
  width: 50%;
  left: 11%;
}
.skills_images {
  width: 100%;
}
.image-list-item {
  display: inline-block;
  margin-right: 20px;
  padding: 0;
  width: 48px;
}
.designer-div {
  height: 100%;
  width: 50%;
  left: 50%;
  background-color: #ffac41;
  position: absolute;
  border-top-left-radius: 95%;
}
#infinity {
  position: relative;
  width: 169px;
  height: 100px;
  box-sizing: content-box;
  top: 45%;
  left: 42%;
}
#infinity:before,
#infinity:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 6px solid black;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
}
#infinity:after {
  left: auto;
  right: 0;
  border-radius: 50px 50px 50px 0;
  transform: rotate(45deg);
}
.infinity-heading {
  font-family: "Merriweather", serif;
  position: relative;
  font-family: "Merriweather", serif;
  position: relative;
  margin: 0;
  font-size: 40px;
  top: 75%;
  right: 25%;
}

.about-section {
  background-color: black;
  width: 100%;
  height: 600px;
  position: relative;
}
.about-sction-div {
  position: absolute;
  width: 50%;
  top: 20%;
  left: 5%;
}
.about-section-heading {
  color: #ffac41;
  font-size: 50px;
}
.about-section-description {
  color: white;
  position: absolute;
  margin: 0;
  font-size: 30px;
}
.about-section-designer-div {
  height: 100%;
  width: 50%;
  left: 50%;
  background-color: #ffac41;
  position: absolute;
  border-bottom-left-radius: 99%;
}
